@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

:root {
  --bs-body-font-family: "DM Sans", Verdana, Tahoma, sans-serif;
}

.navbar-brand,
h1 {
  font-family: "Poppins", Verdana, Tahoma, sans-serif;
  color: #eb5359;
}

h2,
h3 {
  font-family: "DM Sans", Verdana, Tahoma, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

p,
h2,
h3 {
  color: rgb(58, 58, 58);
}

h3 {
  font-size: 1.2rem;
}

body {
  background-color: $secondary;
}

.container {
  max-width: 1000px;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 450px;
  border: none;
}

.listing-img {
  height: 250px;
  object-fit: cover;
  background-position: center top;
  border-radius: 10%;
}

.fas {
  font-size: 4rem;
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-text {
  background-color: #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 10%;
}

input,
textarea {
  border: none transparent !important;
}

.btn-color {
  color: #fff !important;
}

.seller-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.bid-form {
  max-width: 450px;
}